---
import TimelineItem, { type Event } from './TimelineItem.astro'

export type { Event }

export interface Props {
  events: Event[]
  title?: string
  format?: (start: Date, end?: Date) => string
}

const [m, y] = [
  { month: 'short' }, { year: 'numeric' }
].map((opts: {}) => new Intl.DateTimeFormat('en', opts))

const f = (date: Date) => `${m.format(date)} ${y.format(date)}`

const {
  title,
  events,
  format = (start, end) => {
    return (end ? [start, end].map(f) : [f(start), 'Actualidad']).join(' - ')
  }
}: Props = Astro.props
---
<section>
  {title && <h1>{title}</h1>}
  {events.map(event => (
    <TimelineItem event={event} format={format} />
  ))}
</section>
<style>
  section {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.5em;
    --line-color: var(--main-fg-dark);
    --icon-color: var(--text-fg-dark);
  }
  section > h1 {
    margin-bottom: 1.5em;
    font-size: .9em;
    color: var(--main-fg);
    text-wrap: balance;
    padding-bottom: .2em;
    border-bottom: 1px solid var(--main-fg-faded);
    border-image: linear-gradient(90deg,
      var(--main-fg-faded) 0%, var(--main-fg-dark-faded) 100%
    ) 1;
  }
  
  section :global(article) {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    --icon-size: 32px;
    padding-left: calc(var(--icon-size) + 1em);
    font-size: .6em;
  }
  section :global(article:not(:first-of-type)) {
    padding-top: 1em;
  }
  
  section :global(article):before {
    content: '';
    background-color: var(--line-color);
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: calc(var(--icon-size) / 2);
    width: 2px;
  }
  section :global(article):last-child:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: calc(var(--icon-size) / 2 - 6px + 1px);
    bottom: 0;
    background-color: var(--line-color);
    border-radius: 50%;
  }

  section :global(article) > :global(.icon) {
    position: absolute;
    left: 0;
    background-color: var(--line-color);
    color: var(--icon-color);
  }
</style>
