---
// Astro frontmatter never runs on the browser!
import { ViewTransitions } from 'astro:transitions'
import { getImage } from 'astro:assets'

import '../css/styles.css'
import ogImageSrc from '../img/me-alt.jpg'

import Link from '../components/Link.astro'

const { id, title, bg } = Astro.props

const backImg = await getImage({
  src: bg,
  width: 1600,
  loading: 'lazy',
  densities: [1, 2, 3]
})
const ogImg = await getImage({
  src: ogImageSrc,
  width: 1200,
  format: 'jpg'
})
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/Yin_yang.svg" />
    <meta name="viewport" content="width=device-width, initial-scale:1.0" />

    <title>lorenzogrv.tech</title>

    <!--  META Tags esenciales -->
    <meta property="og:title" content="lorenzogrv.tech">
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImg.src}>
    <meta property="og:url" content="https://lorenzogrv.tech">
    <meta name="twitter:card" content="summary_large_image">
  
    <!--  Non esenciais, Pero recomendadas -->
    <meta property="og:description" content="I'm a self-taught software developer with some years of expertise within the web platform">
    <meta property="og:site_name" content="lorenzogrv.tech">
    <meta name="twitter:image:alt" content="Lorenzo García Rivera">

    <ViewTransitions />
  </head>
  <body class={id} transition:animate="fade">
    <header>
      <h1>
        lorenzogrv.tech
        <small>Yet another web made from scratch</small>
      </h1>
      <nav>
        <Link prefetch='viewport' href="/">Home</Link>
        <Link prefetch='viewport' href="/about">About me</Link>
        <Link prefetch='viewport' href="/more">More</Link>
      </nav>
    </header>

    <main>
      <section id={id}>
        <slot />
      </section>
    </main>

    <footer>
      &copy; lorenzogrv <script>document.write(new Date().getFullYear())</script>
      <a
        href="https://creativecommons.org/licenses/by-nc-nd/3.0/es/"
        target="_blank"
        rel="noreferrer"
      >CC BY NC ND 3.0</a>
    </footer>
  </body>
</html>
<style
  is:global
  define:vars={{
    // 'bg-image': `${backImg.src}`,
    'bg-image-sm': `url(${backImg.srcSet.values[0].url})`,
    'bg-image-md': `url(${backImg.srcSet.values[1].url})`,
    'bg-image-lg': `url(${backImg.srcSet.values[2].url})`
  }}
>
/**
 * Backgrounds
 */

main > section {
  background-size: cover;
  background-position: center center;
  background-image: var(--bg-image-sm, "");

  /* Chrome/Edge/Opera/Samsung, Safari will fallback to this as well */
  background-image: -webkit-image-set(
    var(--bg-image-sm) 1x,
    var(--bg-image-md) 2x,
    var(--bg-image-lg) 3x
  );
  /* Standard use */
  background-image: image-set(
    var(--bg-image-sm) 1x,
    var(--bg-image-md) 2x,
    var(--bg-image-lg) 3x
  );
}
</style>
